/**
 * @author: Jose A Felix
 * @editor: Jose A Felix
 * @name: Login.styles
 * @description: Login page stylesheet
 */

/* --------------------------------------------- */

/** @import Global style */
@import "../../assets/style/abstracts/variables.module";

/* --------------------------------------------- */

/** @description Affects header and footer */
.collection {
  padding: 1rem;
}

/* --------------------------------------------- */

/** @description Login main container */
.loginContentContainer {
  max-height: 70rem;
  max-width: 60rem;
  min-height: 70%;
  min-width: 60%;
}

@media (min-width: $breakpointMobile) {
  .loginContentContainer {
    min-width: 80%;
  }
}

/* --------------------------------------------- */

/** @description Background */
.loginBackground {
  background-image: url("./../../assets/images/Login/LoginBackground.jpg");
  background-size: cover;
  background-position: center;
}