/**
 * @author: Jose A Felix
 * @editor: Jose A Felix
 * @name: Login.styles
 * @description: Login page stylesheet
 */

/* --------------------------------------------- */

.collection {
  padding: 1rem;
}

.loginContentContainer {
  background-color: white;
  height: auto;
  min-height: 10rem;
  max-height: 30rem;
}

.loginBackground {
  background-color: aquamarine;
}