# dependencies
/node_modules
/.pnp
.pnp.js

# ios
.DS_Store

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

# npm
npm-debug.log*
package-lock.json

# production
/build

# testing
/coverage

# vscode
/.vscode

# yarn
yarn-debug.log*
yarn-error.log*
yarn-lock.json