/**
 * @author: Jose A Felix
 * @editor: Jose A Felix
 * @name: Variables.module.scss
 * @description: Global variables module
 * @note: Module is a copy from Variables.scss in order to use
 * media query breakpoints in JS code
 */

/* --------------------------------------------- */

/** @description Fonts */
$headerFont: "Koulen", sans-serif;
$globalFont: "Montserrat", sans-serif;

:export {
  headerFont: $headerFont;
  globalFont: $globalFont;
}

/* --------------------------------------------- */

/** @description Primary theming colors for MUI */
$primaryLight: #ff79b0;
$primaryMain: #ff4081;
$primaryDark: #c60055;
$primaryContrastText: #000;

:export {
  primaryLight: $primaryLight;
  primaryMain: $primaryMain;
  primaryDark: $primaryDark;
  primaryContrastText: $primaryContrastText;
}

/* --------------------------------------------- */

/** @description Secondary theming colors for MUI */
$secondaryLight: #62727b;
$secondaryMain: #37474f;
$secondaryDark: #102027;
$secondaryContrastText: #fff;

:export {
  secondaryLight: $secondaryLight;
  secondaryMain: $secondaryMain;
  secondaryDark: $secondaryDark;
  secondaryContrastText: $secondaryContrastText;
}

/* --------------------------------------------- */

/** @description Breakpoints for media queries */
$breakpointMobile: 480;
$breakpointTablet: 768;
$breakpointLaptop: 1024;
$breakpointDesktop: 1200;

:export {
  breakpointMobile: $breakpointMobile;
  breakpointTablet: $breakpointTablet;
  breakpointLaptop: $breakpointLaptop;
  breakpointDesktop: $breakpointDesktop;
}