/**
 * @author: Jose A Felix
 * @editor: Jose A Felix
 * @name: Variables.scss
 * @description: Global variables
 * @note: Stylesheet will be used to support varibles to keep project standardized.
 * Check Variables.modules.scss to maintain both files updated
 */

/* --------------------------------------------- */

/** @description Primary app theming */
$primaryLight: #ff79b0;
$primaryMain: #ff4081;
$primaryDark: #c60055;
$primaryContrastText: #000;

/* --------------------------------------------- */

/** @description Secondary app theming */
$secondaryLight: #62727b;
$secondaryMain: #37474f;
$secondaryDark: #102027;
$secondaryContrastText: #fff;

/* --------------------------------------------- */

/** @constant Breakpoints for media queries */
$breakpointMobile: 480px;
$breakpointTablet: 768px;
$breakpointLaptop: 1024px;
$breakpointDesktop: 1200px;