/**
 * @author: Jose A Felix
 * @editor: Jose A Felix
 * @name: App.fallback.styles
 * @description: App fallback component stylesheet
 */

/* --------------------------------------------- */

/** @import Global style */
@import "./../../../assets/style/Styles.scss";

/* --------------------------------------------- */

.app-fallback-container {
  color: white;
  font-family: sans-serif;
}

.app-fallback-message {
  height: auto;
}