/**
 * @author: Jose A Felix
 * @editor: Jose A Felix
 * @name: App.fallback.styles
 * @description: App fallback component stylesheet
 */

/* --------------------------------------------- */

.appFallbackContainer {
  color: white;
  font-family: sans-serif;
}

.appFallbackMessage {
  height: auto;
}