/**
 * @author: Jose A Felix
 * @editor: Jose A Felix
 * @name: Button.module
 * @description: Button component stylesheet
 */

/* --------------------------------------------- */

$color: aqua;

.myButton {
   background-color: $color;
   color: cadetblue;
}