/**
 * @author: Jose A Felix
 * @editor: Jose A Felix
 * @name: Form.styles
 * @description: Form component stylesheet
 */

/* --------------------------------------------- */

.formHeader {
   margin: 1rem
}

.formBody {
   margin: 1rem;
}

.formFooter {
   margin: 1rem;
}