/**
 * @author: Jose A Felix
 * @editor: Jose A Felix
 * @name: Info.styles.module.scss
 * @description: Info component stylesheet
 */

/* --------------------------------------------- */

/** @import Global style */
@import "../../../assets/style/abstracts/variables.module";

/* --------------------------------------------- */

.infoContainer {
   display: none;
}

@media (min-width: $breakpointLaptop) {
   .infoContainer {
      display: inline-block;
   }
}

/* --------------------------------------------- */

.inputTooltipBtn {
   border-radius: 4px;
   bottom: 0;
   box-shadow: none !important;
   /** 
    * This value comes from MuiButtonBase height and padding 
    * plus an extra to align info icon with input real height 
    */
   height: calc(1.4375em + 36px);
   min-width: auto;
   position: absolute;
   right: -2.3rem;
   top: -0.5px;
   width: 2.2rem;
}