/**
 * @author: Jose A Felix
 * @editor: Jose A Felix
 * @name: Logo.module
 * @description: Logo component stylesheet
 */

/* --------------------------------------------- */

.logoContainer {
  display: flex;
  flex-direction: row;
  line-height: 0.8;
}