/**
 * @author: Jose A Felix
 * @editor: Jose A Felix
 * @name: Copyright.module
 * @description: Copyright component stylesheet
 */

/* --------------------------------------------- */

.copyrightContainer {
  bottom: 0;
  right: 0;
  padding: 1rem;
  position: absolute;
}