/**
 * @author: Jose A Felix
 * @editor: Jose A Felix
 * @name: Routing.fallback.styles
 * @description: Routing fallback stylesheet
 */

/* --------------------------------------------- */

/** @import Global style */
@import "./../../../assets/style/Variables.module.scss";

/* --------------------------------------------- */

/** Space background */
.spaceVideoBackground {
   height: 100%;
   width: 100%;
   object-fit: fill;
}

/* --------------------------------------------- */

/** Moon */
.moonObject {
   position: absolute;
   bottom: -1rem;
   left: 0;
   width: 40vw;
}

.moonObject img {
   width: 100%;
}

@media (min-width: $breakpointTablet) {
   .moonObject {
      bottom: -3rem;
   }
}

@media (min-width: $breakpointLaptop) {
   .moonObject {
      bottom: -5rem;
      width: 35vw;
   }
}

@media (min-width: $breakpointDesktop) {
   .moonObject {
      bottom: -10rem;
   }
}

/* --------------------------------------------- */

/** Routing fallback error message */
.errorMessage {
   bottom: 0;
   color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   left: 0;
   margin: -2rem 3rem 0;
   max-width: 20rem;
   min-width: 10rem;
   position: absolute;
   right: 0;
   top: 0;
}

@media (min-width: $breakpointMobile) {
   .errorMessage {
      left: auto;
      margin: 0 3rem;
   }
}

@media (min-width: $breakpointTablet) {
   .errorMessage {
      right: 10vw;
   }
}

@media (min-width: $breakpointLaptop) {
   .errorMessage {
      max-width: 25rem;
   }
}

/* --------------------------------------------- */

/** Routing fallback error message elements */
.errorHeader {
   margin-bottom: 0;
   line-height: 1.25;
}

.errorApology {
   margin-bottom: 1rem;
}

/* --------------------------------------------- */

/** Back home button */
.backHomeButton {
   background-color: $primaryMain;
}

/* --------------------------------------------- */

.copyright {
   color: white;
   padding: 2rem 3rem;
}